node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Direct build files (uncomment to ignore them)
# index.html
# _app/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
